.navbar{

  position:fixed;
  
  top:20px;
  
  left:50%;
  
  transform:translateX(-50%);
  
  width:90%;
  
  max-width:1300px;
  
  padding:16px 30px;
  
  display:flex;
  
  justify-content:space-between;
  
  align-items:center;
  
  background:rgba(255,255,255,.75);
  
  backdrop-filter:blur(15px);
  
  border:1px solid rgba(255,255,255,.3);
  
  border-radius:20px;
  
  z-index:999;
  
  box-shadow:0 10px 30px rgba(0,0,0,.08);
  
  }
  
  .logo{
  
  font-size:22px;
  
  font-weight:700;
  
  color:#2563EB;
  
  }
  
  .nav-links{
  
  display:flex;
  
  gap:35px;
  
  }
  
  .nav-links a{
  
  text-decoration:none;
  
  color:#475569;
  
  font-weight:500;
  
  transition:.3s;
  
  }
  
  .nav-links a:hover{
  
  color:#2563EB;
  
  }
  
  .login-btn{
  
  padding:12px 24px;
  
  border:none;
  
  background:#2563EB;
  
  color:white;
  
  border-radius:50px;
  
  font-weight:600;
  
  cursor:pointer;
  
  transition:.3s;
  
  }
  
  .login-btn:hover{
  
  transform:translateY(-3px);
  
  box-shadow:0 10px 25px rgba(37,99,235,.3);
  
  }